<div id="wrapper">
  <menu></menu>
  <cabecalho></cabecalho>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <main class="col-md-12 col-xs-12 p-l-12 p-t-12">
        <ul class="breadcrumb">
          <li><a href="#">Menu</a> <span class="divider"></span></li>
          <li><a href="#">Premissões</a> <span class="divider"></span></li>
          <li class="active">Cadastrar</li>
        </ul>
        <form (submit)="beforeSave($event)">
          <div class="panel panel-form-app">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left" style="padding-top: 2.5px;">Cadastrar</h4>
              <div class="btn-group pull-right">
                <a href="#" class="btn btn-danger btn-xs">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              </div>
            </div>

            <div class="panel-body">
              <div class="alert {{status}} alert-dismissible alert-sistema" *ngIf="mensagem">
                <a href="#" class="close" (click)="setMensagem(null, null, null, $event)">&times;</a>
                <strong>{{alertStatus}}!</strong> {{mensagem}}
              </div>

              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home" id="tab-info">Informações</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">

                  <div class="row">
                    <div class="col-md-6 col-xs-6 p-l-6 p-t-6">
                      <div>
                        <div class="input-group espacamento {{hasError.usuario_id.hasError}}">
                          <span class="input-group-addon">Usuário</span>
                          <select
                            [(ngModel)]="usuario.id"
                            (focus)="limparCampos('usuario_id')"
                            (change) = "mudarUsuario($event)"
                            name="usuario"
                            class="form-control input-sm">
                            <option *ngFor="let us of usuarios" [value]="us.id"> {{ us.login }} </option>
                          </select>
                        </div>
                        <p class="text-danger">{{hasError.usuario_id.msg}}</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-6 p-l-6 p-t-6">
                      <div class="list-group">
                        <a *ngFor="let mn of menus" class="list-group-item clearfix" (click)="atualizarPermissao($event, mn)">
                          <span [style.paddingLeft.px]="mn.padding">{{mn.descricao}}</span>
                          <span class="pull-right">
                            <span class="btn btn-xs btn-default btn-check-list">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true" [style.color]="mn.color"></span>
                            </span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt15">
                <div class="col-md-8 col-xs-8 p-l-8 p-t-8"></div>
                <div class="col-md-2 col-xs-2 p-l-2 p-t-2">
                  <button class="btn btn-block btn-sm btn-primary" (click)="limparForm($event);">Limpar</button>
                </div>
                <div class="col-md-2 col-xs-2 p-l-2 p-t-2">
                  <button class="btn btn-block btn-sm btn-success">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </main>
    </div>
  </div>
</div>